<h3>{{viewTitle}}</h3>

<form action="/music" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{music._id}}">

  <div class="form-group ">
    <label>Instrument</label>
    <input type="text" class="form-control" name="instrument" placeholder="Instrument">

      <div class="text-danger">    
        {{music.priceError}}</div>
</div>
      
  <div class="form-group ">
    <label>Price</label>
    <input type="text" class="form-control" name="price" placeholder="Price">

     <div class="text-danger">    
        {{music.priceError}}</div>
  </div>  



  <div class="form-row">
   <div class="form-group col-md-6">
    <label>Color</label>
    <input type="text" class="form-control" name="color" placeholder="Color">
  </div>    
  

  <div class="form-group col-md-6">
    <label>Year</label>
    <input type="text" class="form-control" name="year" placeholder="Year">
  </div>    

  <div class="form-group col-md-6">
    <label>Comments</label>
    <input type="text" class="form-control" name="comments" placeholder="Comments">
  </div>
  </div>
   
  
   <div class="form-row">
   <div class="form-group col-md-6">
    <buttom type="submit" class="btn btn-info">
    <i class="fa fa-database"></i>Submit</buttom>
 </div>

  <div class="form-group col-md-6">
    <buttom type="submit" class="btn btn-info"><i class="fas fa-user-minus"></i>Delete</buttom>
    <a class="btn btn-secondary" href="/music/list"><i class="fa fa-list-alt"</i>View All</i></a>
 </div>
 </div>
 </form>    





</form>